@model WebApp.Models.NotaCorretagemEditarViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Nota de Corretagem - Editar</h4>
<hr />
<div class="class=" container-fluid bg-3 text-center"">
    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.ID)
        <div class="row">
            <div class="form-group col-sm-2">
                @Html.Label("Data")
                <input asp-for="Data" id="datepicker" type="text" class="form-control" value="@Model.Data.ToString("dd-MM-yyyy")" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Numero" class="control-label">Número</label>
                @Html.TextBoxFor(d => d.Numero, new { @class = "form-control" })
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="ContratosNegociados" class="control-label">Contratos Negociados</label>
                @Html.TextBoxFor(d => d.ContratosNegociados, new { @class = "form-control", @type = "number", @style = "text-align:right" })
                <span asp-validation-for="ContratosNegociados" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="AjusteDayTrade" class="control-label">Ajuste DayTrade</label>
                @Html.TextBoxFor(d => d.AjusteDayTrade, new { @class = "form-control", @type = "decimal", @style = "text-align:right" })
                <span asp-validation-for="AjusteDayTrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Voltar", "Detalhe", new { id = Model.ID })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
