@model WebApp.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-3 text-center">
    <h3>Mercado Mini-Índices - @Html.Label(Model.AnoRefefrencia.ToString())</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Saldo Corretora Atual</p>
            <p>@Html.Label(Model.SaldoCorretoraAtual)</p>
        </div>
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Saldo Total dos Trades</p>
            <p>@Html.Label(Model.SaldoTradesPeriodo)</p>
        </div>
        <div class="col-sm-4">
            @*<p class="p-3 mb-2 bg-info text-white">Maior Saldo Corretora</p>
                <p>@Html.Label(Model.MaiorSaldoCorretora)</p>*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Média de ganhos por dia</p>
            <p>@Html.Label(Model.MediaGanhosDia)</p>
        </div>
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Média de perdas</p>
            <p>@Html.Label(Model.MediaPerdasDia)</p>
        </div>
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Relação</p>
            <p>@Html.Label(Model.RelacaoGanhoPerda)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Quantidade dias com ganhos</p>
            <p>@Html.Label(Model.QuantidadeGanhos)</p>
        </div>
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Quantidade dias com perdas</p>
            <p>@Html.Label(Model.QuantidadePerdas)</p>
        </div>
        <div class="col-sm-4">
            <p class="p-3 mb-2 bg-info text-white">Relação</p>
            <p>@Html.Label(Model.RelacaoQuantidadeGanhoPerda)</p>
        </div>
    </div>
</div>
<br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-6">
            <p class="p-3 mb-2 bg-info text-white">Resultados por Mês</p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            Mês
                        </th>
                        <th class="text-right">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ResultadoMes)
                    {
                        <tr>
                            <td class="text-center">
                                @switch (item.Key)
                                {
                                    case "01":
                                        <span>Janeiro</span>;
                                        break;
                                    case "02":
                                        <span>Fevereiro</span>;
                                        break;
                                    case "03":
                                        <span>Março</span>;
                                        break;
                                    case "04":
                                        <span>Abril</span>;
                                        break;
                                    case "05":
                                        <span>Maio</span>;
                                        break;
                                    case "06":
                                        <span>Junho</span>;
                                        break;
                                    case "07":
                                        <span>Julho</span>;
                                        break;
                                    case "08":
                                        <span>Agosto</span>;
                                        break;
                                    case "09":
                                        <span>Setembro</span>;
                                        break;
                                    case "10":
                                        <span>Outubro</span>;
                                        break;
                                    case "11":
                                        <span>Novembro</span>;
                                        break;
                                    case "12":
                                        <span>Dezembro</span>;
                                        break;
                                    default:
                                        <span>-</span>;
                                        break;
                                }
                            </td>
                            <td class="text-right" @( Convert.ToDecimal(item.Value) > 0 ? Html.Raw("style='color:blue'") : Html.Raw("style='color:red'") )>
                                @Html.Label(item.Value.ToString())
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            @*<p class="p-3 mb-2 bg-info text-white">Top 3 - Loss</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Dia
                            </th>
                            <th class="text-right">
                                Valor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TopLoss)
                                        {
                            <tr>
                                <td class="text-center">
                                    @Html.Label(item.Key)
                                </td>
                                <td class="text-right">
                                    @Html.Label(item.Value)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@
        </div>
    </div>
</div>
<br>

