@model IEnumerable<WebApp.Models.OperacaoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div class="row">
        <div class="form-group col-sm-2">
            @using (Html.BeginForm("Importar", "Operacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    <div class="form-group">
                        @Html.TextBox("arquivo", "", new { type = "file" }) <br />
                        <input type="submit" value="Importar" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</p>

<h4>Operações - Listagem</h4>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Data Operação</th>
            <th class="text-center">Data Liquidação</th>
            <th class="text-center">Tipo</th>
            <th class="text-right">Valor (R$)</th>
            <th class="text-left">Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OperacaoViewModel item in Model)
        {
        <tr>
            <td class="text-center">
                @item.DataOperacao
            </td>
            <td class="text-center">
                @item.DataLiquidacao
            </td>
            <td class="text-left">
                @item.TipoOperacao
            </td>
            <td class="text-right">
                @item.Valor
            </td>
            <td class="text-left">
                @item.Descricao.Trim()
            </td>
        </tr>
        }
    </tbody>
</table>
