@model WebApp.Models.ResumoDiarioViewModel

@{
    ViewData["Title"] = "Histórico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>operações por Dia</h4>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        @foreach (var item in Model.Anos)
        {
            <div class="col-sm-2">
                <p class="p-3 mb-1 bg-light text-black-50">
                    @Html.ActionLink(linkText: item.ToString(),
                                     actionName: "ResumoDiario",
                                     controllerName: "Operacao",
                                     routeValues: new { ano = item, mes = 1 },
                                     htmlAttributes: "")
                </p>
            </div>
        }

    </div>
    <div class="row">
        @foreach (var item in Model.PeriodosDistintos)
        {
            <div class="col-sm-1">
                <p class="p-3 mb-12 bg-light text-dark">
                    @Html.ActionLink(
                        linkText: item.Value,
                        actionName: "ResumoDiario",
                        controllerName: "Operacao",
                        routeValues: new { ano = item.Key.Year, mes = item.Key.Month },
                        htmlAttributes: "")
                </p>
            </div>
        }
    </div>
    <div class="row">
        @Model.Periodo
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Data Operação</th>
            <th class="text-right">Total (R$)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultadosPorDia)
        {
            <tr>
                <td class="text-center">
                    @Html.Label(item.Key.ToString("dd/MM/yyyy"))
                </td>
                <td class="text-right" @( Convert.ToDecimal(item.Value) > 0 ? Html.Raw("style='color:blue'") : Html.Raw("style='color:red'") )>
                    @Html.Label(String.Format("{0: #, ##0.00; (#,##0.00)} ", item.Value))
                </td>
            </tr>
        }
    </tbody>
</table>
