@model IEnumerable<WebApp.Models.ResumoMensalViewModel>

@{
    ViewData["Title"] = "ResumoMensal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resumo Mensal</h1>

<p>
    <div class="col-xl-2 col-lg-4">
        @Html.ActionLink("Inserir Nota", "Inserir", "NotaCorretagem", null, new { @class = "btn btn-primary" })
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th class="text-right">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.Label(item.Periodo)
                </td>
                <td class="text-right">
                    @if (item.Negativo)
                    {
                        <div style="color:red">
                            @Html.Label(item.ValorTotal)
                        </div>
                    }
                    else
                    {
                        <div style="color:black">
                            @Html.Label(item.ValorTotal)
                        </div>
                    }
                </td>
                <td class="text-center">
                    @Html.ActionLink("Detalhe", "ResumoDiario", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
