@model WebApp.Models.ResumoDiarioViewModel

@{
    ViewData["Title"] = "Histórico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Histórico</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            @Html.ActionLink("Inserir Nota", "Inserir", "NotaCorretagem", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-2">
            @Html.ActionLink("Resumo Mensal", "ResumoMensal", "Historico", null)
        </div>
    </div>
    <div class="row">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Data</th>
            <th class="text-right">Valor (R$)</th>
            <th class="text-right">Saldo Corretora (R$)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaHistoricoViewModel)
        {
            <tr>
                <td class="text-center">
                    @Html.Label(item.Data)
                </td>
                <td class="text-right">
                    @if (item.Negativo)
                    {
                        <div style="color:red">
                            @Html.Label(item.Valor)
                        </div>
                    }
                    else
                    {
                        <div style="color:black">
                            @Html.Label(item.Valor)
                        </div>
                    }
                </td>
                <td class="text-right">
                    @Html.Label(item.SaldoCorretora)

                </td>
            </tr>
        }
    </tbody>
</table>
